<header class="site_header outer_wrapper">

    <div class="frow justify-between">
        <div class="logo">
            <a href="/"><img src="/assets/img/gwcc-logo.svg" class="logo_img" /></a>
        </div>

        <div class="menu">
            <div id="menu-container" class="menu-btn"><button id="overlay-menu" type="button" class="menuButton"><img src="/assets/img/icon_menu.png" class="menu_img" /></button></div>

            <div class="site_header_wrapper">
                <div class="overlay overlay-data noScroll">
                    <button type="button" class="overlay-close"></button>
                        <div class="frow flex-centered">
                            <nav>
                                <ul>
                                    <li><a href="/work">work</a></li>
                                    <li><a href="/about">about</a></li>
                                    <li><a href="{{ site.baseurl }}/our-team">our team</a></li>
                                    <li><a href="http://www.google.com">greenmount west</a></li>
                                    <li><a href="mailto:info@noisytenants.com">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</header> <!-- Header -->
